/* html {
  scroll-behavior: smooth;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-list {
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}

.nav-link {
  transition: 0.3s;
}

.section-item a {
  color: #829985;
  text-decoration: none;
  transition: color 0.5s;
}
.section-item a:hover {
  color: #4d2323;
} */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Bebas Neue", cursive;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  background-color: #f5f5f5;
}

.center {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: #505050;
}

header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}

header .nav-list .nav-item .nav-link {
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 4px;
  font-weight: normal;
}

header .nav-list .nav-item .nav-link:hover {
  color: #ffd6d2;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .aside {
  width: 38%;
  text-align: center;
  color: #505050;
}

.main .aside img {
  margin: 20px 0;
  width: 200px;
  height: 200px;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 15px solid #ffd6d2;
  border-radius: 50%;
}

.main .aside .name {
  font-family: "Bebas Neue", cursive;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 7px;
  font-weight: 500;
}

.main .aside .devel {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 40px;
}

.main .aside .basic-info {
  background-color: #ffd6d2;
  margin-top: 60px;
  padding-left: 25px;
  height: 100%;
}

.main .aside .basic-info .title {
  font-family: "Bebas Neue", cursive;
  color: #ffffff;
  padding: 5px 15px;
  background-color: #505050;
  width: 120px;
  margin: 0 auto;
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 36px;
}

.main .aside .basic-info .contacts {
  margin-bottom: 30px;
}

.main .aside .basic-info .contacts li {
  text-align: start;
  margin-bottom: 10px;
}

.main .aside .basic-info .contacts li a {
  text-decoration: none;
  color: #505050;
  font-size: 35px;
}

.main .aside .basic-info .contacts li a span {
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  vertical-align: middle;
}

.main .aside .basic-info .list {
  list-style: inside;
  text-align: start;
  margin: 20px 0 30px 0;
}

.main .aside .basic-info .list li {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}

.main .aside .basic-info .list .lang {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}

.main .aside .basic-info .list .lang p {
  text-transform: none;
  font-weight: normal;
  font-size: 18px;
  margin-left: 2rem;
  margin-top: 5px;
}

.main .right-content {
  width: 58%;
  margin-top: 20px;
  color: #777777;
}

.main .right-content .title-right {
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 36px;
  color: #505050;
  margin-top: 40px;
}

.main .right-content hr {
  height: 2px;
  margin-top: 0;
}

.main .right-content .description {
  font-size: 20px;
  line-height: 32px;
}

.main .right-content .description .descr-bold {
  font-weight: bold;
}

.main .right-content .description .descr-italic {
  font-weight: bold;
  font-style: oblique;
}

.main .right-content .description a {
  display: block;
  text-decoration: none;
}

.main .right-content .list-descr {
  list-style: inside;
  text-align: start;
  font-size: 18px;
  line-height: 30px;
  margin-left: 20px;
}

.main .code {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 47px;
}

.main .code .title-code {
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 36px;
  color: #505050;
  margin-top: 40px;
}

.main .code hr {
  height: 2px;
  margin-top: 0;
}

.main .code pre {
  background-color: #ffffff;
}

.main .code pre code {
  color: #777777;
  font-size: 20px;
  line-height: 32px;
}

footer {
  background-color: #505050;
}

footer .link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

footer .link-footer .link-github {
  color: #ffffff;
  font-size: 50px;
  text-decoration: none;
}

footer .link-footer .year {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  letter-spacing: 3px;
  color: #ffffff;
}

footer .link-footer span {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  letter-spacing: 3px;
  color: #ffffff;
  vertical-align: middle;
  margin-left: 20px;
}
/*# sourceMappingURL=style1.css.map */